@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap");

@font-face {
  font-family: "linkin park";
  src: url(/Resources/fonts/linkinpark.ttf) format(ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: raleway;
  color: #777;
}

html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
}
.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main_nav {
  font-size: 1.1em;
  font-weight: lighter;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main_nav li {
  padding: 0 5%;
}

.main-header {
  background-image: url(/Resources/Images/home-bg.jpg);
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-blend-mode: multiply;
  padding: 30px;
}

.band-name {
  text-align: center;
  font-family: "linkin park";
  font-weight: normal;
  font-size: 4em;
  margin: 0.25;
  color: white;
}

.band-name-large {
  font-size: 6em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.1em;
}

.section-header {
  font-family: raleway;
  font-weight: normal;
  color: white;
  text-align: left;
  font-size: 2.2em;
}
.about-band-image {
  float: left;
  width: 300px;
  margin: 15px;
}

.socials {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.1em;
  color: white;
}

.main-footer {
  background-color: black;
  color: white;
}

.main-footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  margin: 0px;
  padding: 0px;
}
.btn {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.9em;
  border-radius: 0;
  border-width: 2px;
  border-color: white;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.5em;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 1);
}

.content-center {
  display: flex;
  justify-content: center;
}

.content-center img {
  margin-top: 2em;
}
