@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap");

@font-face {
  font-family: "linkin park";
  src: url(/Resources/fonts/linkinpark.ttf) format(ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: raleway;
  color: #777;
}

html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
}
.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main_nav {
  font-size: 1.1em;
  font-weight: lighter;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main_nav li {
  padding: 0 5%;
}

.main-header {
  background-image: url(/Resources/Images/home-bg.jpg);
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-blend-mode: multiply;
  padding: 30px;
}

.band-name {
  text-align: center;
  font-family: "linkin park";
  font-weight: normal;
  font-size: 4em;
  margin: 0.25;
  color: white;
}

.band-name-large {
  font-size: 6em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.1em;
}

.section-header {
  font-family: raleway;
  font-weight: normal;
  color: white;
  text-align: center;
  font-size: 2.2em;
}
.about-band-image {
  float: left;
  width: 300px;
  margin: 15px;
}

.socials {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.1em;
  color: white;
}

.main-footer {
  background-color: black;
  color: white;
}

.main-footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  margin: 0px;
  padding: 0px;
}
.btn {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.9em;
  border-radius: 0;
  border-width: 2px;
  border-color: white;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.5em;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 1);
}

.content-center {
  display: flex;
  justify-content: center;
}

.content-center img {
  margin-top: 2em;
}

.tour-row {
  border-bottom: 2px solid white;
  margin: 1em;
  padding: 1em;
}

.tour-row:first-child {
  border-top: 2px solid white;
}

.tour-item {
  display: inline-block;
  padding-right: 0.5em;
}
.tour-date {
  color: white;
  font-weight: bold;
  width: 11%;
}
.tour-city {
  width: 24%;
}
.tour-arena {
  width: 42%;
}
.tour-btn {
  max-width: 19%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-width: 2px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.2em;
}
.tour-btn:hover {
  opacity: 0.6;
}

.shop-item {
  margin: 30px;
}
.item-title {
  display: block;
  width: 100%;
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}
.item-details {
  display: flex;
  padding: 5px;
  align-items: center;
}
.item-price {
  flex-grow: 1;
  color: white;
}
.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.shop-button {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-width: 2px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.2em;
}
.shop-button:hover {
  opacity: 0.6;
}

.cart-header {
  font-weight: bold;
  font-size: 1.2em;
  color: white;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}
.cart-row {
  display: flex;
}
.cart-item {
  width: 45%;
}
.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: white;
}
.cart-quantity {
  width: 35%;
}
.cart-item-title {
  color: white;
  margin-left: 0.5em;
  font-size: 1.2em;
}
.cart-item-image {
  border-radius: 2px;
}
.cart-quantity-input {
  height: 30px;
  width: 65px;
  border-radius: 2px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}
.cart-row:last-child {
  border-bottom: 2px solid white;
}
.cart-row:last-child .cart-column {
  border: none;
}
.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}
.cart-total-title {
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  margin-right: 20px;
}
.cart-total-price {
  font-size: 1.1em;
  color: white;
}
.purchase-btn {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.8em;
}
